<div class="container">
  <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="">WebSiteName</a>
              </div>
          <ul class="nav navbar-nav">
            <li><a routerLink="/templte-form" routerLinkActive="active">Template Form</a></li>
            <li><a routerLink="/reactive-form" routerLinkActive="active">Reactive Form</a></li>
          </ul>
        </div>
      </nav>
  </div>
  <div class="row" style="margin-top: 50px;" >
      <router-outlet></router-outlet>
  </div>
  
</div>


